Flask==3.0.0
altair==5.2.0
numpy==1.24.2
dash==2.14.1
dash-bootstrap-components==1.5.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-iconify==0.1.2
dash-mantine-components==0.12.0
dash-table==5.0.0
dash-tools==1.12.0
folium==0.15.1
pandas==1.5.3
plotly==5.18.0
gunicorn==21.2.0
