/* style.css */

#season_range_slider .rc-slider-track {
    background-color: #D80808; /* Change to whatever color you want */
}

#season_range_slider .rc-slider-handle {
    border-color: #D80808; /* Change to whatever color you want */
}

#season_range_slider .rc-slider-dot-active {  
  border-color: #D80808;
}

#map-month-range-slider .rc-slider-track {
    background-color: #D80808; /* Change to whatever color you want */
}

#map-month-range-slider .rc-slider-handle {
    border-color: #D80808; /* Change to whatever color you want */
}

#map-month-range-slider .rc-slider-dot-active {  
  border-color: #D80808;
}

#calendar .CalendarDay{
  background: #ffffff;
  border: 1px double #ffffff;
  color: #000000
}

#calendar .CalendarDay__selected {
  background: #D80808;
  border: 1px double #D80808;
  color: #ffffff
}

#calendar .CalendarDay__selected_span {
  background: #e96e6c;
  border: 1px double #e96e6c;
  color: #ffffff
}

/* #calendar .CalendarDay__selected_span:active, .CalendarDay__selected_span:hover {
  background: #db5959;
  border: 1px double #db5959;
  color: #fff
} */

